<h1>Time Sheet Tracker</h1>
<br>


<%= form_for @time_sheet, url: toggle_timer_user_time_sheet_url(@user, @time_sheet), method: :post, remote: true do |f| %>
  <%= f.hidden_field :timer_state, value: 0 %>
  <%= f.submit "Start", class: "btn btn-primary btn-lg", id: "time-button" %>
<% end %>

<br>
<br>
<h2>Timer</h2>
<h2 id="basicUsage">00:00:00</h2>
<br>
<br>
<h3>Time Sheet</h3>
<table id=time-sheet class="table table-sm col-6">
  <tr class="thead-dark">
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
    <th scope="col">Duration</th>
  </tr>

  <% @time_sheet.time_sheet_entries.each do |time_sheet_entry| %>
    <% if time_sheet_entry.to.present? %>
      <tr scope="row">
        <td style="width: 40%"><%= time_sheet_entry.start_time %></td>
        <td style="width: 40%"><%= time_sheet_entry.end_time %></td>
        <td style="width: 20%"><%= time_sheet_entry.time_duration %></td>
      </tr>
    <% end %>
  <% end %>
</table>
